{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">409小站</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="https://www.pornhub.com">Pornhub</a></li>
                    <li><a href="https://www.xvideos.com">Xvideos</a></li>
                    <li><a href="#">一个没有功能的按钮</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索的功能不会写QUQ">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">不知道要加一些什么功能 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>欢迎来到409小站!</h1>
            <p>找个时间我认真抄一下那些好看的界面QUQ。</p>
            <p>我计划着加一下功能，去爬pornhub和xvideos上面的视频</p>
            <p>好多功能我也还没写（逃</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">一个没有功能的按钮</a></p>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-xs-6 col-md-4" style="display: block">
                <a href="#" class="thumbnail">
                    <img src="../static/cover.jpg" alt="...">
                </a>
                <div class="intro" style="height:20px;">
                    <p>say something</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4" style="display: block">
                <a href="#" class="thumbnail">
                    <img src="../static/cover.jpg" alt="...">
                </a>
                <div class="intro" style="height:50px;">
                    <p>say something say something say something say something say something say something </p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4" style="display: block">
                <a href="#" class="thumbnail">
                    <img src="../static/cover.jpg" alt="...">
                </a>
                <div class="intro" style="height:50px;">
                    <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </small>
                </div>
            </div>
            <hr>
            <div class="col-xs-6 col-md-4" style="display: block">
                <a href="#" class="thumbnail">
                    <img src="../static/cover.jpg" alt="...">
                </a>
                <div class="intro" style="height:50px;">
                    <p>testing testing testing testing testing testing testing testing </p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4" style="display: block">
                <a href="#" class="thumbnail">
                    <img src="../static/cover.jpg" alt="...">
                </a>
                <div class="intro" style="height:20px;">
                    <p>testing testing testing testing testing testing testing testing testing testing </p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4" style="display: block">
                <a href="#" class="thumbnail">
                    <img src="../static/cover.jpg" alt="...">
                </a>
                <div class="intro" style="height:20px;">
                    <p>testing testing testing testing testing testing testing testing testing </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}