<html>

<head>
    <title>Manager Login</title>
</head>

<body>
    <div>
        <h1>因为菜所以做的超级简洁的登陆系统</h1>
        <p>Manager只用来管理视频文件，正常使用不需要登陆。</p>

        <form method=post >
            <table width=480 algin=center>
                <tr>
                    <td width=240>username:<td width=200><input style="height:24px" name="user_id" type="text" size=20>
                </tr>
                <tr>
                    <td>password:<td><input name="password" type="password" size=20 style="height:24px">
                </tr>
                <tr>
                    <td colspan=3><input name="submit" type="submit" size=10 value="Submit">
                </tr>
            </table>
        </form>
    </div>
</body>